In [5]:
import pandas as pd

In [2]:
import inspect
def get_default_args(func):
    """
    returns a dictionary of arg_name:default_values for the input function
    """
    args, varargs, keywords, defaults = inspect.getargspec(func)
    return dict(zip(args[-len(defaults):], defaults))
def get_func_args(func):
    return inspect.getargspec(func)[0]
def get_class_func_name(command):
    name = command.__name__
    cls_name = None
    if name == 'block_tables':
        cls_name = command.im_class.__name__
    return name, cls_name
sample_size_setting = {
    'block_tables':{
        'AttrEquivalenceBlocker':[(0.1, 0.1), (0.3, 0.3), (0.5, 0.5), (0.7, 0.7), (0.9,
                                                                                   0.9)],
        'RuleBasedBlocker':[(1, 0.1), (1, 0.3), (1, 0.5), (1, 0.7), (1, 0.9)],
        'BlacBoxBlocker':[(0.01, 0.01), (0.05, 0.05), (0.1, 0.1), (0.15, 0.15), (0.2,
                                                                                 0.2)],
        'OverlapBlocker':[(1, 0.1), (1, 0.3), (1, 0.5), (1, 0.7), (1, 0.9)],
    },
    'block_candset': [0.01, 0.05, 0.1, 0.15, 0.2],
    'downsample':[(1, 0.2), (1, 0.3), (1, 0.5), (1, 0.7), (1, 0.9)],
    'extract_feature_vecs': [0.01, 0.05, 0.1, 0.15, 0.2],
    'predict':[0.01, 0.05, 0.1, 0.15, 0.2]
}

In [30]:
def sample_table(table, proportion):
    num_tuples = int(math.ceil(len(table)*proportion))
    if num_tuples > len(table):
        num_tuples = len(table)
    sampled_table = table.sample(num_tuples)
    sampled_table.sort_index(inplace=True)
    return sampled_table

def sampled_tables(A, B, proportions):
    prop_a, prop_b = proportions[0], proportions[1]
    num_tuples_a = int(math.ceil(len(A)*prop_a))
    num_tuples_b = int(math.ceil(len(B)*prop_b))
    if num_tuples_a > len(A):
        num_tuples_a = len(A)
    if num_tuples_b > len(B):
        num_tuples_b = len(B)
    sampled_table_a = A.sample(num_tuples_a)
    sampled_table_b = A.sample(num_tuples_b)    
    sampled_table_a.sort_index(inplace=True)
    sampled_table_b.sort_index(inplace=True)    
    return sampled_table_a, sampled_table_b

In [42]:
import time
import math


class Timer(object):
    def __enter__(self):
        self.start = time.clock()
        return self
    def __exit__(self, *args):
        self.end = time.clock()
        self.interval = self.end - self.start


def execute(p):
    args = ()
    if isinstance(p, (list, tuple)):
        f, kwargs = (p[0], p[1])
    f, t = None, None

    try:
        with Timer() as t:
            _ = f(*args, **kwargs)
    finally:
        return t.interval


def time_command(command, kwargs):
    p = (command, kwargs)
    return execute(p)

In [36]:
A.head()

,id,title,authors,journal,month,year,publication_type
0,439198,Reconstructing Climatic and Environmental Chan...,"Willie Soon, Sallie Baliunas, Craig Idso, Sher...",NaN,NaN,NaN,NaN
1,482999,Semantic Cache Mechanism for Heterogeneous Web...,"Boris Chidlovskiiy, Claudia Roncancioz, Marie-...",NaN,NaN,NaN,NaN
2,58637,A note on recursive functions,"Nicoletta Sabadini, Sebastiano Vigna, Robert F...",NaN,NaN,NaN,NaN
3,584961,The Data Warehouse of Newsgroups,"Himanshu Gupta, Divesh Srivastava",NaN,NaN,NaN,NaN
4,1606897,An Experimental Evaluation of Tiling and Shack...,"Induprakas Kodukula, Keshav Pingali, Robert Co...",NaN,NaN,NaN,NaN

In [35]:
A1 = sample_table(A, 0.5)
len(A1)
A1.head()

,id,title,authors,journal,month,year,publication_type
1,482999,Semantic Cache Mechanism for Heterogeneous Web...,"Boris Chidlovskiiy, Claudia Roncancioz, Marie-...",NaN,NaN,NaN,NaN
2,58637,A note on recursive functions,"Nicoletta Sabadini, Sebastiano Vigna, Robert F...",NaN,NaN,NaN,NaN
3,584961,The Data Warehouse of Newsgroups,"Himanshu Gupta, Divesh Srivastava",NaN,NaN,NaN,NaN
4,1606897,An Experimental Evaluation of Tiling and Shack...,"Induprakas Kodukula, Keshav Pingali, Robert Co...",NaN,NaN,NaN,NaN
7,801993,"A New, Improved Pipeline AUT Girth Weld Inspec...","Michael Moles, Simon Labb",NaN,NaN,NaN,NaN

In [40]:
from dmagellan.blocker.overlap.overlapblocker import OverlapBlocker
from dmagellan.sampler.downsample.downsample import downsample_dk

In [4]:
ob = OverlapBlocker()

In [7]:
A = pd.read_csv('../datasets/sample_citeseer_200k.csv')
B = pd.read_csv('../datasets/sample_dblp_200k.csv')

In [23]:
import math
A1 = A.sample(int(math.floor(len(A)*0.1)))

In [28]:
A1.sort_index(inplace=True)

In [29]:
A1.head()

,id,title,authors,journal,month,year,publication_type
11,964225,Evaluating Indirect Branch Handling Mechanisms...,"Jason D. Hiser, Daniel Williams, Jason Mars, B...",NaN,NaN,NaN,NaN
20,1407370,Web Image Classification for Information Extra...,"Miroslav Vacura, Miroslav Vacura, Pavel Praks",NaN,NaN,NaN,NaN
40,636465,Stichting Informatica,F. Kratz,NaN,NaN,2005.0,NaN
49,338720,Surveying Formal and Practical Approaches for ...,"Erbil Yilmaz, Yanet Manzano",NaN,NaN,2002.0,NaN
51,1219742,SUMMARY AND CONCLUSIONS..........................,"Michael Sgaard Jrgensen, Maj Munch Andersen, A...",NaN,NaN,NaN,NaN

In [24]:
len(A1)

20000

In [41]:
d = get_func_args(downsample_dk)
d

['ltable',
 'rtable',
 'lid',
 'rid',
 'size',
 'y',
 'lstopwords',
 'rstopwords',
 'nlchunks',
 'nrchunks',
 'scheduler',
 'compute']

In [8]:
command = ob.block_tables
input_args = {'ltable':A, 'rtable':B,  
        'l_block_attr':'title', 'r_block_attr':'title', 
        'l_key':'id', 'r_key':'id', 
        'nltable_chunks': [1, 2, 4], 'nrtable_chunks': [4, 2, 1],
        'compute'=True
     }
do_cartesian = False
repeat = 2

In [ ]:
# preprocess args
default_args = get_default_args(command)
funtion_args = get_func_args(command)
if self in function_args:
    function_args.remove('self') 
required_args = set(function_args).difference(default_args.keys())

missing_args = set(required_args).difference(d.keys())
if len(missing_args):
    print('The following args are required: ' + str(missing_args))
args = default_args
for key, value in input_args:
    args[key] = value

In [9]:
# handle single num_chunks value
assert('num_chunks' in args)
config_setting = args['num_chunks']
function_name, class_name = get_class_func_name(command)
if class_name is not None:
    sample_sizes = sample_size_setting[class_name][function_name]
else:
    sample_sizes = sample_size_setting[function_name]
best_one = -1

for sample_size in sample_sizes:
    result = []
    for config in config_setting
        cum_runtime = 0
        for count in range(repeat)
            sampled_table = sample_table(candset, config)
            args['candset'] = sampled_table
            runtime = time_command(command, args)
            cum_runtime += runtime
        result = result.append((math.ceil(cum_runtime/float(repeat)), setting))
        
    result.sort()
    if best_one == -1:
        best_one = result
    elif best_one[1] == result[1]:
        break
    else:
        best_one = result
        continue

AssertionError:

In [16]:
import itertools
a = [1, 3, 5]
b = [3, 4, 5]
# s = list(itertools.product(a, b))
s = zip(a, b)
s

[(1, 3), (3, 4), (5, 5)]

In [ ]:
# handle multiple num chunks value
import itertools
assert('nltable_chunks' in args)
assert('nrtable_chunks' in args)
ltable_setting = args['nltable_chunks']
if not isinstance(ltable_setting, list):
    ltable_setting = [ltable_setting]
rtable_setting = args['nrtable_chunks']
if not isinstance(rtable_setting, list):
    rtable_setting = [rtable_setting]

if do_cartesian:
    config_setting = list(itertools.product(ltable_setting, rtable_setting))
else:
    assert(len(ltable_setting) == len(rtable_setting))
    config_setting = zip(ltable_setting, rtable_setting)
function_name, class_name = get_class_func_name(command)
if class_name is not None:
    sample_sizes = sample_size_setting[class_name][function_name]
else:
    sample_sizes = sample_size_setting[function_name]
    
best_one = -1
for sample_size in sample_sizes:
    result = []
    for config in config_setting
        cum_runtime = 0
        for count in range(repeat)
            sampled_table_a, sampled_table_b = sample_tables(table_a, table_b, config)
            if function_name == 'downsample':
                if args['size'] > len(sampled_table_b):
                    args['size'] = len(sampled_table_b)
            args['ltable'] = sampled_table_a
            args['rtable'] = sampled_table_b            
            runtime = time_command(command, args)
            cum_runtime += runtime
        result = result.append((math.ceil(cum_runtime/float(repeat)), setting))
        
    result.sort()
    if best_one == -1:
        best_one = result
    elif best_one[1] == result[1]:
        break
    else:
        best_one = result
        continue